<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DaViewer</title>
    <link rel="stylesheet" href="../../renderer/resources/styles/setting.css">
</head>
<body>
    <!-- 배너 -->
    <div class="banner">
        
    </div>

    <!-- 메인 콘텐츠 -->
    <div class="container">
        <h1>다뷰어 분석기 🤖</h1>
        <div>
            <label for="sourceBranch">소스 브랜치🆕</label>
            <select id="sourceBranch"></select>
        </div>
        <br>
        <div>
            <label for="targetBranch">타겟 브랜치😗</label>
            <select id="targetBranch"></select>
        </div>
        <button id="runReview">분석 시작</button>
    </div>

    <script src="../../renderer/renderer.js"></script>
</body>
</html>