<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
        }
        img {
            width: 100vw;
            height: 100vh;
            object-fit: cover; /* 이미지 비율을 유지하면서 창 크기에 맞게 확장 */
        }
    </style>
</head>
<body>
<img src="../../renderer/resources/images/search_network.gif" alt="Loading...">
</body>
</html>
